<app-header></app-header>
<h1>TEXT</h1>
<div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, saepe architecto vitae quisquam neque consectetur sequi in accusantium animi esse, id at, suscipit autem itaque ducimus ut impedit officia voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aliquid eius voluptatibus odit, facere deserunt autem, laboriosam veritatis ea cumque quisquam sequi excepturi placeat voluptates reprehenderit culpa in numquam debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque perspiciatis commodi ipsam at quis est, modi ut? Laudantium, enim. Dicta suscipit cum quam possimus porro sequi nam quisquam ducimus reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ex cupiditate saepe eos culpa molestias nisi assumenda rerum. In, beatae vitae? Obcaecati architecto quis ea possimus provident accusantium voluptas. Omnis?</p>
</div>
<app-footer></app-footer>
