table {
  max-width: 600px;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
table th {
  font-size: large;
  padding: 15px;
  border: 1px solid black;
  background-color: bisque;
}
table td {
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  color: aliceblue;
}