.div {
    width: 420px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.list {
    margin: auto;
    width: 420px;
    background-color: #264653;
}
.list th, td {
    border: 1px solid whitesmoke;
    color: #f1faee;
    padding: 10px;
    margin: auto;
}
button {
    width: 99%;
}