h1 {
  padding: 20px;
  margin: auto;
  text-align: center;
}
table {
  border: 1px solid black;
  margin: auto;
}
table th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.692);
}
table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
#details {
  width: 100%;
  padding: 10px;
}